@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  background-color: #0096C7 !important;
  background: var(--background) url('/brice-de-nice.jpg') center/cover no-repeat;

  color: var(--foreground);
  font-family: 'Original Surfer', cursive; /* ✅ ton font */
  @apply overscroll-x-none overflow-x-hidden touch-pan-y;
}
  
